<h1>
  {{title}}
</h1>
<br>
<!--<div class="row">
<div class="col-md-6">
  <h2>University</h2>
</div>
<div class="col-md-6">
  <h2>Company</h2>
</div>
</div>
!-->

<br>
<br>
<div class="row">
<div class="col-md-4">
  <table class="table table-striped table-bordered table-hover" style="width: 300px">
   
    <tbody>
    <tr >
      <td style="width: 100px"><a routerLink="home">Home</a></td>
    </tr>
    <tr >
      <td style="width: 100px"><a routerLink="about">User List</a></td>
    </tr>
    
    </tbody>
  </table>
</div>
<div class="col-md-8">
  <router-outlet></router-outlet>
</div>
</div>

       